# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.d
.DS_Store
aomdd
aomddD
aomddR
daooptW
*.out
*.uai*
*.vo
*.order
*.gif
*.mk
*.pdf
*.dot
*.swp
*.ps
*.tgz
*.py
*.pl
*.sh
*.txt
CVO

Makefile
tst/*
repo/*
