# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.d
.DS_Store
aomdd
daooptW
*.out
*.uai*
*.gif
*.mk
*.pdf
*.dot
*.swp
*.ps
Makefile